<ul class="social // pad0 / mar0 / no-list">

    <li class="social__item / facebook">
        <a href="https://www.facebook.com/erikapettymua" class="social__link" title="">
            {{> svgicon iconname="facebook" }}
            <span class="hidden">&nbsp;facebook</span>
        </a>
    </li>

    <li class="social__item / twitter">
        <a href="http://twitter.com/erikapettymua" class="social__link" title="">
            {{> svgicon iconname="twitter" }}
            <span class="hidden">&nbsp;twitter</span>
        </a>
    </li>

    <li class="social__item / instagram">
        <a href="http://www.instagram.com/erikapettymua" class="social__link" title="">
            {{> svgicon iconname="instagram" }}
            <span class="hidden">&nbsp;instagram</span>
        </a>
    </li>

    <li class="social__item / snapchat">
        <a href="https://www.snapchat.com/add/erikapettymua" class="social__link" title="">
            {{> svgicon iconname="snapchat" }}
            <span class="hidden">&nbsp;snapchat</span>
        </a>
    </li>

</ul>